<div>
    <h2 id="page-heading">
        <span jhiTranslate="bibliothequeApp.bibliotheque.home.title">Bibliotheques</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bibliotheque" [routerLink]="['/bibliotheque/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="bibliothequeApp.bibliotheque.home.createLabel">
            Create a new Bibliotheque
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="bibliotheques?.length === 0">
        <span jhiTranslate="bibliothequeApp.bibliotheque.home.notFound">No bibliotheques found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="bibliotheques && bibliotheques.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="bibliothequeApp.bibliotheque.nomBiblio">Nom Biblio</span></th>
                    <th scope="col" ><span jhiTranslate="bibliothequeApp.bibliotheque.adresse">Adresse</span></th>
                    <th scope="col" ><span jhiTranslate="bibliothequeApp.bibliotheque.livre">Livre</span></th>
                    <th scope="col" ><span jhiTranslate="bibliothequeApp.bibliotheque.jeuxEducatif">Jeux Educatif</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bibliotheque of bibliotheques ;trackBy: trackId">
                    <td><a [routerLink]="['/bibliotheque', bibliotheque.id, 'view']">{{ bibliotheque.id }}</a></td>
                    <td>{{ bibliotheque.nomBiblio }}</td>
                    <td>{{ bibliotheque.adresse }}</td>
                    <td>
                        <div *ngIf="bibliotheque.livre">
                            <a [routerLink]="['/livres', bibliotheque.livre?.id, 'view']" >{{ bibliotheque.livre?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="bibliotheque.jeuxEducatif">
                            <a [routerLink]="['/jeux-educatif', bibliotheque.jeuxEducatif?.id, 'view']" >{{ bibliotheque.jeuxEducatif?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/bibliotheque', bibliotheque.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/bibliotheque', bibliotheque.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(bibliotheque)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
