<div>
    <h2 id="page-heading">
        <span jhiTranslate="bibliothequeApp.livres.home.title">Livres</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-livres" [routerLink]="['/livres/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="bibliothequeApp.livres.home.createLabel">
            Create a new Livres
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="livres?.length === 0">
        <span jhiTranslate="bibliothequeApp.livres.home.notFound">No livres found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="livres && livres.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="bibliothequeApp.livres.nomLivre">Nom Livre</span></th>
                    <th scope="col" ><span jhiTranslate="bibliothequeApp.livres.genre">Genre</span></th>
                    <th scope="col" ><span jhiTranslate="bibliothequeApp.livres.nombredepages">Nombredepages</span></th>
                    <th scope="col" ><span jhiTranslate="bibliothequeApp.livres.langues">Langues</span></th>
                    <th scope="col" ><span jhiTranslate="bibliothequeApp.livres.prix">Prix</span></th>
                    <th scope="col" ><span jhiTranslate="bibliothequeApp.livres.auteurs">Auteurs</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let livres of livres ;trackBy: trackId">
                    <td><a [routerLink]="['/livres', livres.id, 'view']">{{ livres.id }}</a></td>
                    <td>{{ livres.nomLivre }}</td>
                    <td>{{ livres.genre }}</td>
                    <td>{{ livres.nombredepages }}</td>
                    <td>{{ livres.langues }}</td>
                    <td>{{ livres.prix }}</td>
                    <td>
                        <div *ngIf="livres.auteurs">
                            <a [routerLink]="['/auteurs', livres.auteurs?.id, 'view']" >{{ livres.auteurs?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/livres', livres.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/livres', livres.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(livres)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
